/*
 * File: core.css
 * Project: *
 * Created: *
 * Author: Mehdi Rashadatjou
 * -----
 * Copyright 2021 - 2022, ©*
 * -----
 */

:root {
  --themes: light dark;
}

body {
  background: #fff;
  background: var(--color-bg-body);

  color: #050505;
  color: var(--color-txt-main);
}

img:not([src*=".svg"]) {
  filter: var(--color-image-filter);
}
