/*
 * File: typography.css
 * Project: *
 * Created: *
 * -----
 * Copyright 2022, ©Denpex
 * -----
 */

h1 {
  font-size: var(--size-txt-large);
}

h2 {
  font-size: var(--size-txt-medium);
}

h3 {
  font-size: var(--size-txt-normal);
}

p {
  font-size: var(--size-txt-small);
}

span {
  color: var(--color-txt-secondary);
}
