/*
 * File: light.css
 * Project: *
 * Created: *
 * Author: Mehdi Rashadatjou
 * -----
 * Copyright 2021 - 2022, ©*
 * -----
 */

/*
 * keyword:
 * 1. bg (background)
 * 2. txt (text/font)
 * 3. act (action/button/link)
 * 4. theme (specific theme color)
 * 5. focus (element focus color)
 * 6. selection (text selection color)
 * 7. highlight (text highlight color)
 *
 * level:
 * 1. main
 * 2. secondary
 * 3. tertiary
 */

:root {
  /* Background */
  --color-bg-main: #efefef;
  --color-bg-secondary: #f7f7f7;
  --color-bg-body: #fff;
  --color-bg-border: #dbdbdb;

  /* Text */
  --color-txt-main: #050505;
  --color-txt-secondary: #222222;
  --color-txt-muted: #70777f;
  --color-txt-bright: #000;

  /* Actions */
  --color-act-main: #08bf8e;
  --color-act-secondary: #c94507;

  /* Other */
  --color-theme-main: #f6d728;
  --color-focus-main: rgb(8, 191, 142, 0.67);
  --color-selection-main: #9e9e9e;
  --color-highlight-main: #03d79e;
}
